main.contact{
  @media (width <= $desktop){ padding-top: 2.19rem; }
  @media (width > $desktop){ padding-top: 3.44rem; }

  .bg{ background: linear-gradient(39deg, #FFF 0%, rgba(205, 236, 255, 0.50) 100%); }

  section:not(.contact-form){
    @media (width <= $desktop){ margin-bottom: 2.5rem; }
    @media (width > $desktop){ margin-bottom: 3.25rem; }
  }
  
  section.contacts{
    .title{
      @media (width <= $desktop){ margin-bottom: 2.5rem; }
      @media (width > $desktop){ margin-bottom: 5rem; }
    }
    .list{
      max-width: 50.75rem;
      .item{
        display: grid;
        @media (width <= $desktop){ grid-template-columns: repeat(2, 1fr); }
        @media (width > $desktop){ grid-template-columns: 1fr 2fr; }
        align-items: center;
        @media (width <= $desktop){ font-size: .625rem; }
        border-top: .0625rem solid $text-light;
        &:last-child{ border-bottom: .0625rem solid $text-light; }
        @media (width <= $desktop){ padding: .63rem .94rem; }
        @media (width > $desktop){ padding: 1.25rem 2.31rem; }
        margin-right: 0;
        .bold{ font-weight: 600; }
        .links{
          display: flex;
          align-items: center;
          @media (width <= $desktop){ gap: 1.25rem; }
          @media (width > $desktop){ gap: 2.5rem; }
          a{
            padding: .5rem;
            margin: -0.5rem;
            &.mobile{
              @media (width > $desktop){ display: none; }
            }
            &:not(.mobile){
              @media (width <= $desktop){ display: none; }
            }
          }
        }
      }
    }
  }

  section.map{
    .card{
      overflow: hidden;
      @media (width <= $desktop){ height: 19.5625rem; }
      @media (width > $desktop){ height: 26rem; }
      display: grid;
      place-items: center;
      background: $text-light;
      color: #fff;
      iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
}